* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    /* background-color: #131313; */
}
html {
    scroll-behavior:smooth;
}
body {
    overscroll-behavior: none;
    overflow-x: hidden;
    background-color: #131313;
}

/* Scroll Animation CSS */
.scroll-animation {
    position: absolute;
    z-index: 99;
    width: 2rem;
    height: 4rem;
    bottom: 0rem;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: #151515; */
}

.scroll-down {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mouse {
    width: 2rem;
    height: 4rem;
    border: 2px solid #FFDEAD	;
    border-radius: 2rem;
    margin-bottom: 0.5rem;
    display: flex;
}

.mouse span{
    width: 0.75rem;
    height: 0.75rem;
    background-color: #FFDEAD	;
    display: block;
    border-radius: 50%;
    margin: auto;
    animation: move-wheel 1s linear infinite;
}

.arrow span {
    display: block;
    width: 1rem;
    height: 1rem;
    border: 2px solid transparent;
    border-right-color: #FFDEAD	;
    border-bottom-color: #FFDEAD	;
    transform: rotate(45deg);
    animation: arrow-down 1s alternate infinite;
}

@keyframes move-wheel {
    0% {
        opacity: 0;
        transform: translateY(-1rem);
    }
    100% {
        opacity: 1;
        transform: translateY(1rem);
    }
}

@keyframes arrow-down {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}
/* End Scroll Animation CSS */

/* Torus Animation CSS */
#torus-animation {
    position: fixed;
    top: 10;
    z-index: -99;
}
/* End Torus Animation CSS */

/* Hero Selection CSS */
.main {
    background-color: transparent;
    align-items: center;
    justify-self: center;
    height: 85vh;
}

.main__content {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
}

.main__content h1 {
    font-size: 4rem;
    background-image: linear-gradient(60deg, #5f86f2, #a65ff2, #f25fd0, 
    #f25f61);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content h2 {
    font-size: 3rem;
    background-color: #ff8177;
    background-image: linear-gradient(60deg, #f2cb5f, #f25f61, #f25fd0, #a65ff2, 
    #5f86f2, #5ff281);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.gradient-p {
    background: var(--background-color-rainbow);
    background-size: var(--background-size);
    animation: var(--animation-properties);
    -webkit-background-clip: text;
    color: transparent;
}

.main__content p {
    margin-top: 2rem;
    line-height: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFDEAD	;
}

.main__btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #FFDEAD	;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #FFDEAD	;
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover {
    color: #FFDEAD	;
}

.main__btn:hover:after {
    width: 100%;
}

.main__img--container {
    text-align: center;
}

#main__img {
    height: 80%;
    width: 80%;
}

/* Mobile Resposinve */
@media screen and (max-width: 768px) {
    .main__content {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        /* height: 90vh; */
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main__content h2 {
        font-size: 3rem;
    }

    .main__content p{
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width:480px) {
    .main__content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main__content h2 {
        font-size: 2rem;
    }

    .main__content p{
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    .main__btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}
/* End Hero Section CSS */

/* Main Content CSS */
.learn-content {
    margin: 5rem;
    text-align: center;
    border: 1px solid transparent;
}

.learn-content h2 {
    /* margin-top: 5rem; */
    padding-top: 5rem;
    font-size: 3rem;
    color: #ffcb7e;
}
.learn-content p{
    text-align: left;
    color: #ffdead;
    padding: 2rem 10rem;
    background-color: rgba(19,19,19,0.5);
    line-height: 1.5rem;
}

.answer {
    position: relative;
    /* border: 1px solid #ffdead; */
    height: 70vh;
}

.answer a {
    color: #ffdead;
}

.answer img {
    transform: translate(-50%, -20%);
    z-index: 1;
}
/* End Main Content CSS */

/* Scroll Animation Mini CSS */
.scroll-animation-mini {
    position: absolute;
    z-index: 99;
    width: 2rem;
    height: 4rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: #151515; */
}

.scroll-down-mini {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mouse-mini {
    width: 2rem;
    height: 4rem;
    border: 2px solid #FFDEAD	;
    border-radius: 2rem;
    margin-bottom: 0.5rem;
    display: flex;
}

.mouse-mini span{
    width: 0.75rem;
    height: 0.75rem;
    background-color: #FFDEAD	;
    display: block;
    border-radius: 50%;
    margin: auto;
    animation: move-wheel 1s linear infinite;
}

.arrow-mini span {
    display: block;
    width: 1rem;
    height: 1rem;
    border: 2px solid transparent;
    border-right-color: #FFDEAD	;
    border-bottom-color: #FFDEAD	;
    transform: rotate(45deg);
    animation: arrow-down 0.6s alternate infinite;
}

@keyframes move-wheel {
    0% {
        opacity: 0;
        transform: translateY(-1rem);
    }
    100% {
        opacity: 1;
        transform: translateY(1rem);
    }
}

@keyframes arrow-down {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}
/* End Scroll Animation Mini CSS */
/* End Main Content CSS */

/* Services Section CSS */
.services {
    /* background: #141414; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 80vh; */
}

.services h1 {
    margin-top: 7rem;

    background-color: #ff8177;
    background-image: linear-gradient(
        to top, 
        #ff8177 0%, 
        #ff867a 0%, 
        #ff8c7f 21%, 
        #f99185 52%, 
        #cf556a 78%, 
        #b12a5b 100%);
    background-size: 100%;
    margin-bottom: 3rem;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.services__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services__card {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(
        to bottom, 
        rgba(0,0,0,0) 0%, 
        rgba(17,17,17,0.6) 100%), 
        url('./images/fun_man.JPG');
    background-size: cover;
    position: relative;
    color: #FFDEAD	;
}

.services__card:nth-child(2) {
    background-image: linear-gradient(
        to bottom,
        rgba(0,0,0,0) 0%, 
        rgba(17,17,17,0.6) 100%), 
        url('./images/vr_girl.JPG')
}

.services h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.services__card p {
    position: absolute;
    top: 400px;
    left: 30px;
}

.services__card button {
    color: #FFDEAD	;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 1rem;
    cursor: pointer;
}

.services__card:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}

@media screen and (max-width:960px) {
    .services {
        height: 1600px;
    }

    .services h1 {
        font-size: 2rem;
        margin-top: 12rem;
    }
}

@media screen and (max-width:480px) {
    .services {
        height: 1400px;
    }

    .services h1 {
        font-size: 1.2rem;
    }

    .services__card {
        width: 300px;;
    }
}

.overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    display: flex;
}

.layer {
    background-color: #131313;
}

.layer-1{
    flex: 1;
    /* background-color: #000; */
}

.layer-2{
    flex: 1;
    /* background-color: #FFDEAD	; */
}

.layer-3{
    flex: 1;
}

/* Dribble CSS */
.dribble {
    margin: 6rem auto;
    margin-left: 9rem;
    margin-right: 9rem;
    width: min(100%-2rem, 70rem);
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5,1fr);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; 
}

.dribble h1, h2, h3 {
    font-weight: 400;
    line-height: 1.5;
    font-family: system-ui, sans-serif;
}

.fancy-card {
    min-width: 185px;
    text-decoration: none;
    color: inherit;
    background-color: #191919;
    padding: 1rem;
    display: grid;
    border: 1px solid #ffdead;
    border-bottom: 5px solid #ff8177;
    aspect-ratio: 1 / 1;
    grid-row: 2;
    position: relative;
    z-index: 1;
    transition: transform 350ms ease,
        background-color 350ms ease,
        color 350ms ease,
        z-index 0ms 50ms linear;
}

.fancy-card::before,
.fancy-card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: #191919;
}

.fancy-card::before {
    pointer-events: none;
    opacity: 0;
    content: "";
    position: absolute;
    inset: 0;
    background: #ffdead;
    filter: blur(1rem);
    z-index: -3;
    transform: translate(0, 0);
    transition: opacity 350ms ease, transform 350ms ease;
}

.fancy-card::after {
    z-index: -1;
    background: #191919;
    transition: background-color 350ms ease;
}

.fancy-card:hover,
.fancy-card:focus {
    background: #ffdead;
    transform: scale(1.35);
    border: 0;
    z-index: 10;
    transition: 
        z-index 0ms 0ms ease,
        transform 350ms ease,
        background-color 350ms ease,
        color 350ms ease;
    animation: shake 600ms ease-in;
    animation-delay: 500ms;
}

.fancy-card:hover::before,
.fancy-card:focus::before {
    /* opacity: 0.2; */
    transform: translate(-20%, 20%);
}

.fancy-card:hover::after,
.fancy-card:focus::after {
    background-color: #ffdead;
}

.fancy-card:hover .fancy-card__title{
    color: #191919;
}

.fancy-card:focus .fancy-card__title{
    background: #ffdead;
    color: #191919;
}

.fancy-card__title:hover {
    color: #191919;
}

.fancy-card__title {
    font-size: 2rem;
    color: #ffdead;
    font-weight: 600;
    line-height: 1;
    width: min-content;
    margin-top: 3rem;
}

.fancy-card__number {
    position: inherit;
    opacity: 0.8;
    font-size: 3rem;
    color: #ff8177;
    width: min-content;
    margin-left: auto;
    transition: all 350ms ease;

}

.fancy-card:hover .fancy-card__number {
    transform: scale(2.35) translate(-10%, 20%);
    opacity: 0.4;
    transition:
        transform 350ms ease,
        background-color 350ms ease,
        opacity 350ms ease;
}

.fancy-card__arrow {
    opacity: 0;
    font-size: 2rem;
    color: #ff8177;
    position: absolute;
    inset: auto 1rem .8rem auto;
    opacity: 0;
    transform: translateX(-100%);
    transition: 
        transform 300ms ease-in,
        opacity 200ms linear;
}

.fancy-card:hover .fancy-card__arrow {
    opacity: 1;
    transform: translateX(0);
}

.fancy-card__image {
    position: absolute;
    z-index: -2;
    bottom: 0;
    max-width: 70%;
    max-height: 70%;
}

.fancy-card:hover .fancy-card__image {
    transition: transform 150ms ease;
    /* box-shadow: -3rem 2rem 2rem rgb(#ffdead, 0.3); */
}

/* @for $image from 1 through 5 {
    .fancy-card__image:nth-of-type(#{$image}) {
        transition-delay: 500ms + ($image * 100);
    }
} */

.fancy-card:hover .fancy-card__image:nth-of-type(1) {
    transition-delay: 500ms;
    transform: translate(130%, -20%) rotate(15deg);
}
.fancy-card:hover .fancy-card__image:nth-of-type(2) {
    transition-delay: 600ms;
    transform: translate(100%, 80%) rotate(-10deg);
}
.fancy-card:hover .fancy-card__image:nth-of-type(3) {
    transition-delay: 700ms;
    transform: translate(-30%, 100%) rotate(10deg);
}
.fancy-card:hover .fancy-card__image:nth-of-type(4) {
    transition-delay: 800ms;
    transform: translate(-70%, -30%) rotate(-15deg);
}
.fancy-card:hover .fancy-card__image:nth-of-type(5) {
    transition-delay: 900ms;
    transform: translate(-90%, -40%) rotate(5deg);
}

@keyframes shake {
    0% {
        transform: scale(1.35) rotate(-5deg);
    }
    25% {
        transform: scale(1.35) rotate(5deg);
    }
    40% {
        transform: scale(1.35) rotate(-5deg);
    }
    50% {
        transform: scale(1.35) rotate(2deg);
    }
    60% {
        transform: scale(1.35) rotate(-5deg);
    }
    75% {
        transform: scale(1.35) rotate(-2deg);
    }
    100% {
        transform: scale(1.35);
    }
}
/* End Dribble CSS */

/* Current Fancy Card Dribble cSS */
.fancy-card-current {
    min-width: 185px;
    text-decoration: none;
    color: inherit;
    background-color: #dbb57d;
    padding: 1rem;
    display: grid;
    border: 1px solid #ffdead;
    border-bottom: 5px solid #ff8177;
    aspect-ratio: 1 / 1;
    grid-row: 2;
    position: relative;
    z-index: 1;
    transition: transform 350ms ease,
        background-color 350ms ease,
        color 350ms ease,
        z-index 0ms 50ms linear;
}

.fancy-card-current::before,
.fancy-card-current::after {
    content: "";
    position: absolute;
    inset: 0;
    background: #ffdead;
}

.fancy-card-current::before {
    pointer-events: none;
    opacity: 0;
    content: "";
    position: absolute;
    inset: 0;
    background: #dbb57d;
    filter: blur(1rem);
    z-index: -3;
    transform: translate(0, 0);
    transition: opacity 350ms ease, transform 350ms ease;
}

.fancy-card-current::after {
    z-index: -1;
    background: #dbb57d;
    transition: background-color 350ms ease;
}

.fancy-card-current:hover,
.fancy-card-current:focus {
    background: #ffdead;
    transform: scale(1.35);
    border: 0;
    z-index: 10;
    transition: 
        z-index 0ms 0ms ease,
        transform 350ms ease,
        background-color 350ms ease,
        color 350ms ease;
    animation: shake 600ms ease-in;
    animation-delay: 500ms;
}

.fancy-card-current:hover::before,
.fancy-card-current:focus::before {
    /* opacity: 0.2; */
    transform: translate(-20%, 20%);
}

.fancy-card-current:hover::after,
.fancy-card-current:focus::after {
    background-color: #ffdead;
}

.fancy-card-current:hover .fancy-card__title-current{
    color: #191919;
}

.fancy-card-current:focus .fancy-card__title-current{
    background: #ffdead;
    color: #191919;
}

.fancy-card__title-current:hover {
    color: #191919;
}

.fancy-card__title-current {
    font-size: 2rem;
    color: #191919;
    font-weight: 600;
    line-height: 1;
    width: min-content;
    margin-top: 3rem;
}

.fancy-card-current:hover .fancy-card__number {
    transform: scale(2.35) translate(-10%, 20%);
    opacity: 0.4;
    transition:
        transform 350ms ease,
        background-color 350ms ease,
        opacity 350ms ease;
}

.fancy-card-current:hover .fancy-card__arrow {
    opacity: 1;
    transform: translateX(0);
}


.fancy-card-current:hover .fancy-card__image {
    transition: transform 150ms ease;
}


.fancy-card-current:hover .fancy-card__image:nth-of-type(1) {
    transition-delay: 500ms;
    transform: translate(130%, -20%) rotate(15deg);
}
.fancy-card-current:hover .fancy-card__image:nth-of-type(2) {
    transition-delay: 600ms;
    transform: translate(100%, 80%) rotate(-10deg);
}
.fancy-card-current:hover .fancy-card__image:nth-of-type(3) {
    transition-delay: 700ms;
    transform: translate(-30%, 100%) rotate(10deg);
}
.fancy-card-current:hover .fancy-card__image:nth-of-type(4) {
    transition-delay: 800ms;
    transform: translate(-70%, -30%) rotate(-15deg);
}
.fancy-card-current:hover .fancy-card__image:nth-of-type(5) {
    transition-delay: 900ms;
    transform: translate(-90%, -40%) rotate(5deg);
}

@media screen and (max-width: 1250px){
    .fancy-card:hover .fancy-card__arrow {
        opacity: 0;
    }
    .fancy-card-current:hover .fancy-card__arrow {
        opacity: 0;
    }
}
/* End Current Fancy Card Dribble CSS */

/* Footer CSS */
.footer__container {
    background-color: #141414;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 13rem;
}

#footer__logo {
    color: #FFDEAD	;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer__link--wrapper {
    display: flex;
}

.footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer__link--items h2 {
    margin-bottom: 16px;
}

.footer__link--items > h2 {
    color: #FFDEAD	;
}

.footer__link--items a {
    color: #FFDEAD	;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer__link--items a:hover {
    color: #e9e9e9;
    transition: 0.3s ease-out;
}

.website__rights {
    color: #FFDEAD	;
}

@media screen and (max-width: 820px) {
    .footer__links {
        padding-top: 2rem;
    }

    #footer__logo {
        margin-bottom: 2rem;
    }

    .website__rights {
        margin-bottom: 2rem;
    }

    .footer__link--wrapper {
        flex-direction: column;
    }

    .social__media--wrap {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .footer__link-items {
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}
/* End Footer CSS */